.second-nav{
    margin-left: 100px;
    margin-right: 206px;
}

.footer-items{
    align-items: center;
    height: 100px;
}

.copy-rights{
    font-size: x-small;
    color: gray;
}

.logo{
    font-size: x-large;
    color: gray;
}

.about{
    font-size: x-small;
    color: white;
}
