

.footer-items{
    align-items: center;
    height: 100px;
}

.copy-rights{
    font-size: x-small;
    color: gray;
}

.logo{
    font-size: x-large;
    color: gray;
}

.about{
    font-size: x-small;
    color: white;
}

.navbar-nav li{
    padding-left: 3rem;
    margin: 7px;
    list-style: none;
}

.dropdown-menu{
    text-align: right;
}

.nav-item a{
    color: #626262;
}
.navbar-nav li :hover{
    text-decoration:none;
    color:black
}

.nav-link{
    color: #fff;
}

.nav-link a{
    color: #fff;
}


.home-page{
    background-image: url("../../../images/headpic3.png");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo{
        font-size: small;
        color: gray;
    }
    .nav-class{
        text-align: center;
    }
  }
