

.footer-items{
    align-items: center;
    height: 100px;
}

.copy-rights{
    font-size: x-small;
    color: gray;
}

.logo{
    font-size: x-large;
    color: gray;
}

.about{
    font-size: x-small;
    color: white;
}

.navbar-nav li{
    margin: 7px;
    list-style: none;
}
.navbar-nav li :hover{
    text-decoration:none;
    color:black
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo{
        font-size: small;
        color: gray;
    }
    .nav-class{
        text-align: center;
    }
  }
